
.yom-swiper {
    height: 100%;
    background-image: url('./../../../../resources/images/project/yom/bg-yom.jpg');
    background-size: cover;
}

.yom-swiper.swiper-horizontal>.swiper-pagination-bullets {
    bottom: 20px;
}

.yom-slide {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.yom-image {
    width: 100%;
    height: 100%;
    max-height: 350px;
}

@media (min-width: 0px) and (max-width: 575.98px) {
    .yom-image {
        width: 100%;
        height: 100%;
        max-height: 275px;
    }

    .yom-swiper.swiper-horizontal>.swiper-pagination-bullets {
        bottom: 5px;
    }
}

@media (min-width: 575.98px) and (max-width: 767.98px) {
    .yom-image {
        width: 90%;
        height: 60%;
        max-height: 275px;
    }

    .yom-swiper.swiper-horizontal>.swiper-pagination-bullets {
        bottom: 50px;
    }
}

@media (min-width: 767.98px) and (max-width: 991.98px) {
    .yom-image {
        width: 90%;
        height: 60%;
        max-height: 275px;
    }

    .yom-swiper.swiper-horizontal>.swiper-pagination-bullets {
        bottom: 50px;
    }
}

@media (min-width: 991.98px) and (max-width: 1199.98px) {
    .yom-image {
        width: 90%;
        height: 90%;
        max-height: 275px;
    }

    .yom-swiper.swiper-horizontal>.swiper-pagination-bullets {
        bottom: 55px;
    }
}