.project-content-wrap {
    min-height: 562px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-image: url('../../../resources/images/bg-lg-project.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.font-project {
    font-family: 'Poppins-Bold';
    font-size: 1.2rem;
    color: #3b444a;
}

.font-project-name {
    font-family: 'Poppins-Bold';
    font-size: 0.9rem;
    color: #3b444a;
}

.font-project-desc {
    font-family: 'Poppins-Regular';
    font-size: 0.9rem;
    color: #3b444a;
}

.font-project-title {
    font-family: 'Poppins-Regular';
    font-size: 0.9rem;
    color: #3b444a;
}

.project-project-container {
    height: 429px;
    max-height: 429px;
}

.project-container {
    overflow: hidden;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.project-tech-div {
    float: left;
}

.project-tech-span:first-child {
    margin: 0;
    margin-right: 10px;
}

.project-tech-span {
    margin: 10px;
}

.font-project-technical {
    font-size: 0.9rem;
    font-family: 'Poppins-Bold';
}

.font-project-tech {
    font-size: 0.9rem;
    font-family: 'Poppins-Italic';
}

.project-desc-div {
    height: 80%;
}

.project-nav-div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 20%;
    border-bottom: 1px solid #E9EBEC;
}

.font-project-nav {
    font-family: 'Poppins-Medium';
    font-size: 0.85rem;
}

.font-next-project {
    font-family: 'Poppins-Regular';
    font-size: 0.85rem;
}

.custom-pagination-project {
    --swiper-pagination-color: yellow;
    --swiper-pagination-bullet-inactive-color: #999999;
    --swiper-pagination-bullet-inactive-opacity: 1;
    --swiper-pagination-bullet-size: 16px;
    --swiper-pagination-bullet-horizontal-gap: 6px;
}