.project-content-wrap {
    min-height: 562px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-image: url('../../../resources/images/bg-lg-project.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.font-title-project {
    font-family: 'Poppins-Bold';
    font-size: 1.2rem;
    color: #3b444a;
}

.project-project-container {
    height: 429;
    max-height: 429;
}

.project-container {
    position: relative;
    height: 429px;
    width: 100%;
    overflow: hidden;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
}

.project-image-left-div {
    position: absolute;
    left: 0;
    width: 580px;
    height: 100%;
    background-color: #F7F8FA;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-image-right-div {
    position: absolute;
    right: 0;
    width: 580px;
    height: 100%;
    background-color: #F7F8FA;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-content-left-div {
    position: absolute;
    margin-top: auto;
    margin-bottom: auto;
    top: 0;
    bottom: 0;
    right: 0;
    width: 495px;
    height: 303px;
    z-index: 1;
}

.project-content-right-div {
    position: absolute;
    margin-top: auto;
    margin-bottom: auto;
    top: 0;
    bottom: 0;
    left: 0;
    width: 495px;
    height: 303px;
    z-index: 1;
}

.project-title-left-div {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
}

.project-title-right-div {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.project-slide {
    display: flex;
    height: 50%;
    max-height: 429px;
    width: 100%;
}

.project-tech-left-div {
    float: left;
    text-align: right;
    width: 100%;
    font-family: 'Poppins-Regular';
    font-size: 0.8rem
}

.project-tech-right-div {
    float: left;
    text-align: left;
    width: 100%;
    font-family: 'Poppins-Regular';
    font-size: 0.8rem
}

.font-featured-project {
    font-family: 'Poppins-Semi-Bold'
}

.font-featured-project-name {
    font-family: 'Poppins-Semi-Bold'
}

.project-desc-left-div {
    text-align: right;
    background-color: #e7ecef;
}

.project-desc-right-div {
    text-align: left;
    background-color: #e7ecef;
}

.font-information {
    font-family: 'Poppins-Regular';
    font-size: 0.8rem;
}

.bullet-project {
    background-color: black;
}

.bullet-project-active {
    background-color: red;
}

.project-project-container .swiper-pagination .swiper-pagination-bullet {
    width: 20px;
    height: 5px;
    border-radius: 0;
    background-color: #019FB6;
    margin: 0;
    margin-right: 5px;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.16);
    bottom: 5px;
    margin-top: 53px;
    /* border: 1px solid black; */
}